* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #c2cad0;
}


header {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
    color: black;
    padding: 20px;

}

header h1 {
    display: inline-block;
    font-size: 45px;
}


header nav {
    font-size: 30px;
    margin-right: 20px;
    float: right;
    padding-top: 15px;


}

header ul li {

    display: inline-block;
    margin-left: 25px;
    
}


a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero2.jpeg");
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 30px;
    
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.about-me img, .my-work img, .contact-me img {
    max-height: 200px;
}


.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}





