* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #c2cad0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
    color: black;
    padding: 20px;
}

header h1 {
    display: inline-block;
    font-size: 45px;
}

header nav {
    font-size: 30px;
    margin-right: 20px;
    float: right;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li {
    display: inline-flex;
    flex-direction: row;
    margin-left: 25px;
}

a:hover {
    background-color: red;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.hero {
    height: 550px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero2.jpeg");
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

aside {
    float: left;
}

.content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: burlywood;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.about-me img,
.my-work img {
    max-height: 20px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
    color: black;
    padding: 20px;
}

footer h2 {
    display: inline-block;
    font-size: 45px;
}

footer nav {
    font-size: 30px;
    margin-right: 20px;
    float: right;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li {
    display: inline-flex;
    flex-direction: row;
    margin-left: 25px;
}